web/WEB-INF/wsdl/10.218.41.26_6006/WS_MPM_VIDEO_SPR/HubClaroVideo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com.claro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com.claro/" name="HubClaroVideo">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com.claro/" schemaLocation="http://10.218.41.26:6006/WS_MPM_VIDEO_SPR/HubClaroVideo?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="CONSULT" schemaLocation="http://10.218.41.26:6006/WS_MPM_VIDEO_SPR/HubClaroVideo?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="GUI" schemaLocation="http://10.218.41.26:6006/WS_MPM_VIDEO_SPR/HubClaroVideo?xsd=3"/>
</xsd:schema>
</types>
<message name="getInternalConsulting">
<part name="parameters" element="tns:getInternalConsulting"/>
</message>
<message name="getInternalConsultingResponse">
<part name="parameters" element="tns:getInternalConsultingResponse"/>
</message>
<message name="GGLInvokeParams">
<part name="parameters" element="tns:GGLInvokeParams"/>
</message>
<message name="GGLInvokeParamsResponse">
<part name="parameters" element="tns:GGLInvokeParamsResponse"/>
</message>
<message name="GUISuscriberVideo">
<part name="parameters" element="tns:GUISuscriberVideo"/>
</message>
<message name="GUISuscriberVideoResponse">
<part name="parameters" element="tns:GUISuscriberVideoResponse"/>
</message>
<portType name="SprCore">
<operation name="getInternalConsulting">
<input wsam:Action="http://ws.com.claro/SprCore/getInternalConsultingRequest" message="tns:getInternalConsulting"/>
<output wsam:Action="http://ws.com.claro/SprCore/getInternalConsultingResponse" message="tns:getInternalConsultingResponse"/>
</operation>
<operation name="GGLInvokeParams">
<input wsam:Action="http://ws.com.claro/SprCore/GGLInvokeParamsRequest" message="tns:GGLInvokeParams"/>
<output wsam:Action="http://ws.com.claro/SprCore/GGLInvokeParamsResponse" message="tns:GGLInvokeParamsResponse"/>
</operation>
<operation name="GUISuscriberVideo">
<input wsam:Action="http://ws.com.claro/SprCore/GUISuscriberVideoRequest" message="tns:GUISuscriberVideo"/>
<output wsam:Action="http://ws.com.claro/SprCore/GUISuscriberVideoResponse" message="tns:GUISuscriberVideoResponse"/>
</operation>
</portType>
<binding name="SprCorePortBinding" type="tns:SprCore">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getInternalConsulting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GGLInvokeParams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GUISuscriberVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HubClaroVideo">
<port name="SprCorePort" binding="tns:SprCorePortBinding">
<soap:address location="http://10.218.41.26:6006/WS_MPM_VIDEO_SPR/HubClaroVideo"/>
</port>
</service>
</definitions>